body {
    background-color: lightgray;
}

.form_scrollable-checkboxes {
    height: 10rem;
    width: 600px;
    overflow: scroll;
    display : flex;
    flex-direction: column;

}

input {
    align-content:start ;
}

label {
    margin-left : 10px;
}